body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	min-height: 100vh;
	height: 100%;
}
   
.footer.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

  h1,
  h2,
  h3,
  h5,
  h6 {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
  }
  h4 {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-align: center;
  }
  
  header.masthead {
	position: relative;
	background-color:  #9164cd ;
	background-size: cover;
	padding-top: 2rem;
	padding-bottom: 2rem;
  }
  
  .features-icons {
	padding-top: 3rem;
	padding-bottom: 3rem;
  }
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }

  .form{
      padding: 50px;
      width: 50em;
      height: 36em;
      background-color: #f9f8fc;
      text-align: center;
  }

  .form-input{
    margin-top: 20px;
    background-color: transparent;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #9164cd !important;
    
  }

  textarea:focus, input:focus {
    transition:  0.5s;
    border-bottom: 1.5px solid #490173 !important;
    outline: none;
  }
  
  /* input tipo text mas como number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 button {
  color: #490173;
  background-color: transparent;
  border-color: #490173;
  border-width: 1px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
}


.button:hover {
  color: #fff;
  background-color: #490173;
  border-color: #701c7e;
}

.button:focus,
.button:hover {
  color: #fff;
  background-color: #9124a3;
  border-color: #701c7e;
}
